.App {
  text-align: center;
}
.container {
  max-width: 1050px;
  margin: 20px auto;
}

.logo {
  display: flex;
  padding: 0px 5px 0px 0px;
  height: 40px;
  position: absolute;
  margin-left: 26%;
}

h1 {
  display: flex;
  margin-left: 42%;
}

hr {
  height: 3px;
  margin-top: 30px;
}
